
<CENTER>
<TABLE width="50%" class="table-striped">
<TR>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Anhinga.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Anhinga</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Bald Eagle.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Bald Eagle</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Barred Owl.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Barred Owl</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Brown Pelican.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Brown Pelican</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Dark-eyed Junco.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Dark-eyed Junco</font></TD>


</TR><TR>

<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\European Starling.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">European Starling</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Great Egret.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Great Egret</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Green Heron.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Green Heron</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Grey Catbird.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Grey Catbird</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\House Finch.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">House Finch</font></TD>

</TR><TR>


<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Northern.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Northern Mockingbird</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Northern O.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Northern Oriole</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Northern Car.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Northern Cardinal</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Pileated.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Pileated Woodpecker</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Red-bellied.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Red-bellied Woodpecker</font></TD>

</TR><TR>

<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Ring-billed.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Ring-billed Gull</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Snowy Egret.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Snowy Egret</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Yellow Warbler.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Yellow Warbler</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Tree Swallows.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Tree Swallows</font></TD>
<TD><A HREF=""><IMG src="C:\Users\Khalyl\Desktop\BIRDS WEBSITE\images\Wood Duck.jpg" WIDTH=200 HEIGHT=200 ></A><br><font size="3">Wood Duck</font></TD>

</TR>
</TABLE>
</CENTER>


