<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style.css">

    <title>SIGN UP</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>

<body class="container">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BIRDS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="../templates/home.html">Home</a></li>
      <!--li class=""><a href="#">Page 1</a>
        
      </li>
      <li><a href="#">Page 2</a></li-->
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="../templates/signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="../templates/login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="../templates/add.html"><span class="glyphicon glyphicon-plus"></span></a></li>

    </ul>
  </div>
</nav>



<div class="container">

        <form class="form-signin" action="/registeration" method="post" role="form">
            
            <br>
            <label>Full Name</label>
            <input type="text" name="username" class="form-control" placeholder="full name" required autofocus>
            <br>

             <label>Email Address</label>
            <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <br>

            <label>Passward</label>
            <input type="password" name="pass" class="form-control" placeholder="Password" required>
            <br>

            <input class="btn btn-lg btn-success btn-block" type="submit" value="sign up">
        </form>
      
    </div>



<footer class="panel-footer">
  
  <p class="">KHALEEL BASHER ALSORI</p>
</footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</body>

</html>
